@using System
@namespace Monopoly.UI.Screens.GameLoop
@inherits Sandbox.UI.Panel

<root>
	<div onclick=@(() => OnSelect(FieldName)) id=@FieldName class="ownership-dot @ColorClass @(GetSelected(FieldName) ? "ownership-dot-selected" : "")">
		<div id="@(FieldName)-mortgaged" class="@(GetMortgaged(FieldName) ? "ownership-dot-mortgage" : "")"></div>
		<div id="@(FieldName)-disabled" class=" @(GetOwned(FieldName) ? "" : "ownership-dot-disabled")"></div>
	</div>
</root>

@code {

	[Property]
	public string FieldName { get; set; }

	[Property]
	public Action<string> OnSelect { get; set; } = (string _) => { };

	[Property]
	public string ColorClass { get; set; }

	[Property]
	public Func<string, bool> GetSelected { get; set; } = (string _) => { return false; };

	[Property]
	public Func<string, bool> GetMortgaged { get; set; } = (string _) => { return false; };

	[Property]
	public Func<string, bool> GetOwned { get; set; } = (string _) => { return false; };

	protected override int BuildHash() {
		return HashCode.Combine(FieldName);
	}

}
