@namespace Monopoly.UI.Screens.GameLoop

<root>
	<div class="propertyCard">
		@switch (Location.Type) {
			case GameLocation.PropertyType.Normal:
				<div>
					<div class="title" style="background-color: @Color ">
						<p style="font-size: 16px; font-weight: bolder; letter-spacing: 4px;"> TITLE DEED </p>
						<p style="font-size: 22px; font-weight: bold; text-transform: uppercase"> @Location.Name </p>
					</div>
					<p style="margin-top: 8px"> RENT $@Location.Normal_Rent[0].</p>
					<div>
						<p>With 1 House</p>
						<p>$@Location.Normal_Rent[1].</p>
					</div>
					<div>
						<p>With 2 Houses</p>
						<p>$@Location.Normal_Rent[2].</p>
					</div>
					<div>
						<p>With 3 Houses</p>
						<p>$@Location.Normal_Rent[3].</p>
					</div>
					<div>
						<p>With 4 Houses</p>
						<p>$@Location.Normal_Rent[4].</p>
					</div>
					<p> With HOTEL $@Location.Normal_Rent[5].</p>
					<p style="margin-top: 8px"> Mortgage Value $@(Location.Price / 2).</p>
					<p> Houses cost $@Location.House_Cost. each</p>
					<p> Hotels, $@Location.House_Cost. plus 4 houses</p>
					<p style="font-size: 14px; margin-top: 8px; padding: 0 5px">
						If a players owns All the lots of any Color Group, the rent is Doubled on Unimproved lots in that group
					</p>
				</div>
				break;
			case GameLocation.PropertyType.Utility:
				<div>
					@if (Location.Name == "Water Works") {
						<img src="ui/waterworks.png" style="width: 60%; aspect-ratio: 317 / 243; margin-top: 25px;"/>
					}
					else {
						<img src="ui/electriccompany.png" style="width: 35%; aspect-ratio: 235 / 293; margin-top: 25px;"/>
					}
					<p style="font-size: 22px; font-weight: bold; text-transform: uppercase; margin-top: 10px"> @Location.Name </p>
					<p style="font-size: 20px; max-width: 85%; margin-top: 10px"> If one Utility is owned, rent is @Location.Utility_Rent_Multiplier[0] times amount shown on dice. </p>
					<p style="font-size: 20px; max-width: 85%; margin-top: 10px"> If both Utilities are owned, rent is @Location.Utility_Rent_Multiplier[1] times amount shown on dice. </p>
				</div>
				break;

			case GameLocation.PropertyType.Railroad:
				<div>
					<img src="ui/railroad.png" style="width: 45%; aspect-ratio: 440 / 315; margin-top: 25px;"/>
					<p style="font-size: 22px; font-weight: bold; text-transform: uppercase; margin-top: 20px"> @Location.Name </p>
					<div class="railroad" style="margin-top: 25px">
						<p>Rent</p>
						<p style="font-weight: bold">$@Location.Railroad_Rent[0].</p>
					</div>
					<div class="railroad">
						<p>If 2 railroads are owned</p>
						<p style="font-weight: bold">$@Location.Railroad_Rent[1].</p>
					</div>
					<div class="railroad">
						<p>If 3 railroads are owned</p>
						<p style="font-weight: bold">$@Location.Railroad_Rent[2].</p>
					</div>
					<div class="railroad">
						<p>If 4 railroads are owned</p>
						<p style="font-weight: bold">$@Location.Railroad_Rent[3].</p>
					</div>
					<p style="margin-top: 30px; font-weight: bold"> Mortgage Value $@(Location.Price / 2).</p>
				</div>
				break;
		}
	</div>
</root>

@code {
	private string _color;

	[Property]
	public GameLocation Location { get; set; }

	[Property]
	public string Color {
		get {
			switch (_color) {
				case "Brown":
					return "#5e2b15";
				case "LightBlue":
					return "#32b2bf";
				case "Pink":
					return "#ab2288";
				case "Orange":
					return "#ca5409";
				case "Red":
					return "#c11919";
				case "Yellow":
					return "#e3be00";
				case "Green":
					return "#0dc64f";
				case "Blue":
					return "#0c499a";
			}

			return "#ffffff";
		}

		set => _color = value;
	}

}
