@using System
@inherits Sandbox.UI.Panel
@namespace Monopoly.UI.Screens.GameLoop

@* There are dragons in here *@
@* magical regex to match all parent ids in match group 1: id="(?!.*-disabled)([^"]*)" *@

<root>
	<div style="display: flex; flex-direction: row; width: 100%; justify-content: space-evenly">
		<div class="ownership-dot-column">
			<div onclick=@(() => ToggleField("brown1")) id="brown1" class="ownership-dot brown @(TradeFields["brown1"] ? "ownership-dot-selected" : "")">
				<div id="brown1-disabled" class="@(GetMortagedStatus("brown1") ? "ownership-dot-mortgage" : "") @(Owned["brown1"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("brown2")) id="brown2" class="ownership-dot brown @(TradeFields["brown2"] ? "ownership-dot-selected" : "")">
				<div id="brown2-disabled" class="@(GetMortagedStatus("brown2") ? "ownership-dot-mortgage" : "") @(Owned["brown2"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
		</div>
		<div class="ownership-dot-column">
			<div onclick=@(() => ToggleField("lightBlue1")) id="lightBlue1" class="ownership-dot lightBlue @(TradeFields["lightBlue1"] ? "ownership-dot-selected" : "")">
				<div id="lightBlue1-disabled" class="@(GetMortagedStatus("lightBlue1") ? "ownership-dot-mortgage" : "") @(Owned["lightBlue1"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("lightBlue2")) id="lightBlue2" class="ownership-dot lightBlue @(TradeFields["lightBlue2"] ? "ownership-dot-selected" : "")">
				<div id="lightBlue2-disabled" class="@(GetMortagedStatus("lightBlue2") ? "ownership-dot-mortgage" : "") @(Owned["lightBlue2"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("lightBlue3")) id="lightBlue3" class="ownership-dot lightBlue @(TradeFields["lightBlue3"] ? "ownership-dot-selected" : "")">
				<div id="lightBlue3-disabled" class="@(GetMortagedStatus("lightBlue3") ? "ownership-dot-mortgage" : "") @(Owned["lightBlue3"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
		</div>
		<div class="ownership-dot-column">
			<div onclick=@(() => ToggleField("pink1")) id="pink1" class="ownership-dot pink @(TradeFields["pink1"] ? "ownership-dot-selected" : "")">
				<div id="pink1-disabled" class="@(GetMortagedStatus("pink1") ? "ownership-dot-mortgage" : "") @(Owned["pink1"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("pink2")) id="pink2" class="ownership-dot pink @(TradeFields["pink2"] ? "ownership-dot-selected" : "")">
				<div id="pink2-disabled" class="@(GetMortagedStatus("pink2") ? "ownership-dot-mortgage" : "") @(Owned["pink2"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("pink3")) id="pink3" class="ownership-dot pink @(TradeFields["pink3"] ? "ownership-dot-selected" : "")">
				<div id="pink3-disabled" class="@(GetMortagedStatus("pink3") ? "ownership-dot-mortgage" : "") @(Owned["pink3"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
		</div>
		<div class="ownership-dot-column">
			<div onclick=@(() => ToggleField("orange1")) id="orange1" class="ownership-dot orange @(TradeFields["orange1"] ? "ownership-dot-selected" : "")">
				<div id="orange1-disabled" class="@(GetMortagedStatus("orange1") ? "ownership-dot-mortgage" : "") @(Owned["orange1"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("orange2")) id="orange2" class="ownership-dot orange @(TradeFields["orange2"] ? "ownership-dot-selected" : "")">
				<div id="orange2-disabled" class="@(GetMortagedStatus("orange2") ? "ownership-dot-mortgage" : "") @(Owned["orange2"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("orange3")) id="orange3" class="ownership-dot orange @(TradeFields["orange3"] ? "ownership-dot-selected" : "")">
				<div id="orange3-disabled" class="@(GetMortagedStatus("orange3") ? "ownership-dot-mortgage" : "") @(Owned["orange3"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
		</div>
		<div class="ownership-dot-column">
			<div onclick=@(() => ToggleField("red1")) id="red1" class="ownership-dot red @(TradeFields["red1"] ? "ownership-dot-selected" : "")">
				<div id="red1-disabled" class="@(GetMortagedStatus("red1") ? "ownership-dot-mortgage" : "") @(Owned["red1"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("red2")) id="red2" class="ownership-dot red @(TradeFields["red2"] ? "ownership-dot-selected" : "")">
				<div id="red2-disabled" class="@(GetMortagedStatus("red2") ? "ownership-dot-mortgage" : "") @(Owned["red2"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("red3")) id="red3" class="ownership-dot red @(TradeFields["red3"] ? "ownership-dot-selected" : "")">
				<div id="red3-disabled" class="@(GetMortagedStatus("red3") ? "ownership-dot-mortgage" : "") @(Owned["red3"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
		</div>
		<div class="ownership-dot-column">
			<div onclick=@(() => ToggleField("yellow1")) id="yellow1" class="ownership-dot yellow @(TradeFields["yellow1"] ? "ownership-dot-selected" : "")">
				<div id="yellow1-disabled" class="@(GetMortagedStatus("yellow1") ? "ownership-dot-mortgage" : "") @(Owned["yellow1"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("yellow2")) id="yellow2" class="ownership-dot yellow @(TradeFields["yellow2"] ? "ownership-dot-selected" : "")">
				<div id="yellow2-disabled" class="@(GetMortagedStatus("yellow2") ? "ownership-dot-mortgage" : "") @(Owned["yellow2"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("yellow3")) id="yellow3" class="ownership-dot yellow @(TradeFields["yellow3"] ? "ownership-dot-selected" : "")">
				<div id="yellow3-disabled" class="@(GetMortagedStatus("yellow3") ? "ownership-dot-mortgage" : "") @(Owned["yellow3"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
		</div>
		<div class="ownership-dot-column">
			<div onclick=@(() => ToggleField("green1")) id="green1" class="ownership-dot green @(TradeFields["green1"] ? "ownership-dot-selected" : "")">
				<div id="green1-disabled" class="@(GetMortagedStatus("green1") ? "ownership-dot-mortgage" : "") @(Owned["green1"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("green2")) id="green2" class="ownership-dot green @(TradeFields["green2"] ? "ownership-dot-selected" : "")">
				<div id="green2-disabled" class="@(GetMortagedStatus("green2") ? "ownership-dot-mortgage" : "") @(Owned["green2"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("green3")) id="green3" class="ownership-dot green @(TradeFields["green3"] ? "ownership-dot-selected" : "")">
				<div id="green3-disabled" class="@(GetMortagedStatus("green3") ? "ownership-dot-mortgage" : "") @(Owned["green3"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
		</div>
		<div class="ownership-dot-column">
			<div onclick=@(() => ToggleField("blue1")) id="blue1" class="ownership-dot blue @(TradeFields["blue1"] ? "ownership-dot-selected" : "")">
				<div id="blue1-disabled" class="@(GetMortagedStatus("blue1") ? "ownership-dot-mortgage" : "") @(Owned["blue1"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("blue2")) id="blue2" class="ownership-dot blue @(TradeFields["blue2"] ? "ownership-dot-selected" : "")">
				<div id="blue2-disabled" class="@(GetMortagedStatus("blue2") ? "ownership-dot-mortgage" : "") @(Owned["blue2"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
		</div>
	</div>
	<div>
		<div style="display: flex; flex-direction: row; justify-content: space-evenly; width: 100%">
			<div onclick=@(() => ToggleField("railroad1")) id="railroad1" class="ownership-dot black @(TradeFields["railroad1"] ? "ownership-dot-selected" : "")">
				<div id="railroad1-disabled" class="@(GetMortagedStatus("railroad1") ? "ownership-dot-mortgage" : "") @(Owned["railroad1"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("railroad2")) id="railroad2" class="ownership-dot black @(TradeFields["railroad2"] ? "ownership-dot-selected" : "")">
				<div id="railroad2-disabled" class="@(GetMortagedStatus("railroad2") ? "ownership-dot-mortgage" : "") @(Owned["railroad2"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("railroad3")) id="railroad3" class="ownership-dot black @(TradeFields["railroad3"] ? "ownership-dot-selected" : "")">
				<div id="railroad3-disabled" class="@(GetMortagedStatus("railroad3") ? "ownership-dot-mortgage" : "") @(Owned["railroad3"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("railroad4")) id="railroad4" class="ownership-dot black @(TradeFields["railroad4"] ? "ownership-dot-selected" : "")">
				<div id="railroad4-disabled" class="@(GetMortagedStatus("railroad4") ? "ownership-dot-mortgage" : "") @(Owned["railroad4"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("electricCompany")) id="electricCompany" class="ownership-dot gray @(TradeFields["electricCompany"] ? "ownership-dot-selected" : "")">
				<div id="electricCompany-disabled" class="@(GetMortagedStatus("electricCompany") ? "ownership-dot-mortgage" : "") @(Owned["electricCompany"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("waterCompany")) id="waterCompany" class="ownership-dot gray @(TradeFields["waterCompany"] ? "ownership-dot-selected" : "")">
				<div id="waterCompany-disabled" class="@(GetMortagedStatus("waterCompany") ? "ownership-dot-mortgage" : "") @(Owned["waterCompany"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("chanceJailFree")) id="chanceJailFree" class="ownership-dot policeBlue @(TradeFields["chanceJailFree"] ? "ownership-dot-selected" : "")">
				<div id="chanceJailFree-disabled" class=" @(Owned["chanceJailFree"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
			<div onclick=@(() => ToggleField("communityJailFree")) id="communityJailFree" class="ownership-dot policeBlue @(TradeFields["communityJailFree"] ? "ownership-dot-selected" : "")">
				<div id="communityJailFree-disabled" class="@(Owned["communityJailFree"] == SteamId ? "" : "ownership-dot-disabled")"></div>
			</div>
		</div>
	</div>
</root>

@code {

	[Property]
	public Player Player { get; set; }

	public ulong SteamId => Player.SteamId;

	[Property]
	public NetDictionary<string, ulong> Owned { get; set; }

	[Property]
	public NetDictionary<string, bool> TradeFields { get; set; }

	private IEnumerable<GameObject> _gameLocations = Game.ActiveScene.Children[0].Children;

	private bool GetMortagedStatus(string propertyName) {
		var currentLocation = _gameLocations.First(o => o.Name == propertyName).Components.Get<GameLocation>();
		return currentLocation.Mortgaged;
	}

	/// <summary>
	///     the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() {
		return HashCode.Combine(Player.Money);
	}

	private void ToggleField(string fieldName) {
		if (!fieldName.Contains("JailFree")) {
			var currentLocation = _gameLocations.First(o => o.Name == fieldName).Components.Get<GameLocation>();

			if (Owned[fieldName] == SteamId && currentLocation.Houses == 0) {
				TradeFields[fieldName] = !TradeFields[fieldName];
			}
		}
		else {
			if (Owned[fieldName] == SteamId) {
				TradeFields[fieldName] = !TradeFields[fieldName];
			}
		}
	}

}
